# Copy to VPS as /opt/posulation/server/.env

NODE_ENV=production
PORT=8000
DEBUG=false

DATABASE_URL=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/DB_NAME?retryWrites=true&w=majority

BCEYPT_SALT_ROUND=12
DEFAULT_PASS=
SUPER_ADMIN_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=365d

BASE_URL=https://api.posulation.com
APP_URL=https://posulation.com
RESET_PASS_UI_LINK=https://posulation.com/reset-password

EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PAYMENT_SECRET_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_BASE_URL=https://api-m.paypal.com
